<h1>Listing advertisements</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Price</th>
    <th>Vendedor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @advertisements.each do |advertisement| %>
  <tr>
    <td><%= advertisement.title %></td>
    <td><%= advertisement.body %></td>
    <td><%= advertisement.price %></td>
    <td><%= advertisement.user ? advertisement.user.first_name : '_desconocido_' %></td>
    <td><%= link_to 'Show', advertisement %></td>
    <% if user_signed_in? && current_user.id == advertisement.user.id %>
      <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
      <td><%= link_to 'Destroy', advertisement, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advertisement', new_advertisement_path %>
